body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

[form] {
    max-width: 800px;
    width: 100%;
    padding: 10px;
}

textarea {
    background: black;
    color: white;
    width: 100%;
}

button {
    background: black;
    color: white;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}
