* {
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

[form] {
    max-width: 800px;
    width: 100%;
    padding: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    resize: none;
}

button {
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

label {
    cursor: pointer;
    margin-right: 10px;
}

#delayed_second,
#symbol_count {
    padding: 5px;
    width: 50px;
}

#delayed {
    margin: 0;
}

.interactive {
    background: #191919;
    color: white;
    border: none;
}

.form-checkbox {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
